@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Capriola');
@import url('https://fonts.googleapis.com/css?family=Merriweather');
@import url('https://fonts.googleapis.com/css?family=VT323');

div, h2, p {
    margin: 0;
}
body, html {
    height: 100vh;
    margin: 0;
    overflow: hidden;
    /*display: flex;
    flex-direction: column;*/
}
.news {
    margin: 0;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-basis: 0;
    height: 100vh;
}
.news div {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;

    flex-direction: column;
    font-size: 7vh;

    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;

    padding: 0 3em;

    text-align: center;
}

.news:empty {
    display: none;
}
.bbc, .bbc-local {
    color: #F2EFEC;
    background-color: #BB1919;
    font-family:'Gill Sans', 'Gill Sans MT', Lato, Calibri, sans-serif;
}
.reu {
    background-color: #fb7e00;
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
}
.reu h2 {
    color: black;
}
.reu-wire {
    background-color: #333333;
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
}
.reu-wire h2 {
    color: #fb7e00;
}


.gdn {
    background-color: #005689;
    color: #FFFFFF;
    font-family: 'Merriweather', serif;
}
.gdn h2 {
    color: #AADCE6;
}
.ft {
    background-color: #FFF1E5;
    color: #33302E;
    font-family: serif;
}

.bbc-local {
    /* colour scheme c.1999 */
    background-color: #FFFFCC;
    color: #990000;
}

.placeholder {
    color: rgba(33%, 33%, 33%, 0.2);
    background-color: #bbb;

}

.clock {
    font-size: 20vh;
    position: fixed;
    left: 3vw;
    top: 3vh;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 0;
    margin: 0;
}

.screenSaver .clock {
    left: inherit;
    right: 3vw;
}
.clock li {
    display: inline-block;
    font-family: 'VT323', 'Source Sans Pro';

}
.clock li::before{
    content: ':';
}
.clock li:nth-child(1)::before {
    content: ''
}
.clock li:last-child {
    content: '';
    opacity: 0.3;
    color: black;
    font-size: 0.8em;
}
.weather {
    font-size: 5vh;
    font-family: 'Capriola';
    list-style-type: none;
    margin-left: 0;
    padding: 0em;
    text-align: right;
    color: rebeccapurple;
    margin-right: 2em;
}
.screenSaver .weather {
    text-align: left;
    margin-left: 2em;
    margin-right: 0;
}

.weather li:first-child {
    font-size: 4em;
}
.weather ul {
    list-style-type: none;
    margin-top: 1em;
    font-size: 2em;
    padding-left: 0;
}

.description {
    font-size: 50%;
}